h1, h3{
    color: yellow;
}
h1 em, h3 em{
    font-size: 40px;
    border: 1px solid black;
}
ol li{
    background-color: yellow;
}

ol li:nth-of-type(2n){
    color:green;
}

ol li:nth-of-type(2n+1){
    text-transform: uppercase;
}

li{
    font-size: 20px;
    
    
}

li a:hover{
    text-decoration: none;
    font-weight: bold;
    color: green;

}

li em{
    font-weight: bold;
}

ul.linguagens li:nth-of-type(1), ul.linguagens li:nth-of-type(2), ul.linguagens li:nth-of-type(3) {
    color: blue;
}
ul.linguagens li.exceção{
    background-color: pink;
}




