html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  font-family: 'Ubuntu';
}
@media screen and (min-width:213px) {
  body {
    background-color:darkcyan;
  }

  h1 {
    font-size: 1.5em;
    text-align: center;
  }

  h2, h3 {
    margin: 10px 10px;
    font-size: 1.3em;
  }

  li {
    padding: 5px;
    list-style: none;
    min-width: 100%;
  }

  p {
    
    text-align: justify;
    font-size: medium;
    padding-bottom: 40px;
    padding-right: 8px;
  }
}

@media screen and (min-width:800px) {
  body {
    background-color:darkseagreen;
  }

  header {
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
  }

  header .lis {
    display: flex;    
  }

  .lis li {
    text-align: center;
    max-width: 24px;
    background-color: darkslategray;
    border: 1px solid black;
    border-radius: 5px;
  }

  #index {
    background-color: darkgrey;
    display: flex;
    justify-content:space-between;
  }
}

@media screen and (min-width:1600px) {
  body {
    background-color: burlywood;
  }
  #index {
    justify-content: space-between;
  }
  header{
    justify-content: space-around;
  }


  .lis li {
    background-color: coral;
    padding: 10px;
    margin-right: 5px;
  }
  .cut {
    display: flex;
    max-width: 200px;
    padding: 10px;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}