* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}
#header {
  display: flex;
  border: 2px solid black;
  justify-content: space-around;
  background-color: #1d3557;
  height: 100px;
}

.title {
  align-self: center;
  color: white
}

.nav {
  flex-direction: column;
  align-self: center;
  color: white;
}

.header-img {
  width:95px;
  height: 95px;
  align-self: center;
  border-radius: 20px;
}

#paragraph {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

#p {
  font-size: large;
}


.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

