#main-center{
    position: fixed;
    display: grid;
}
.section-main{
    background-color: beige;
    font-size: 20px;
    
}
ul li a, ul li{
    text-decoration: none;
    list-style: none;
    display: inline;
    
}

